#page-wrap {
	overflow: hidden;
}

#page {
	width: $size__site-full;
	max-width: $size__site-max-width;
	margin: 0 auto;
}

header {
	padding: 10px;
}

.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

.flex .elementor-widget-wrap, .flex .elementor-widget-container, .flex .elementor-element {
	display: flex;
}

.elementor-section.elementor-section-boxed>.elementor-container {
	width: 100%; //set so vw font sizes work correctly
}

.flex-reverse .elementor-row {
	flex-direction: column-reverse;
}


@media screen and (max-width: 767px) {
	#page {
		width: $size__site-full-mobile;
	}
	.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
		padding: 10px 15px;
	}
}
@import "no-sidebar";
