h1, h2, h3, h4, h5, h6,
.site-content .elementor-widget-heading h1.elementor-heading-title,
.site-content .elementor-widget-heading h2.elementor-heading-title,
.site-content .elementor-widget-heading h3.elementor-heading-title,
.site-content .elementor-widget-heading h4.elementor-heading-title,
.site-content .elementor-widget-heading h5.elementor-heading-title,
.site-content .elementor-widget-heading h6.elementor-heading-title {
	line-height: 1.3;
	clear: both;
	margin-bottom: 1em;
}

h1,
.site-content .elementor-widget-heading h1.elementor-heading-title {
	font-family: $font__bold;
	font-weight: 400;
	font-size: 2.65em;
	color: $color__dark-blue;
}

h2,
.site-content .elementor-widget-heading h2.elementor-heading-title {
	font-family: $font__bold;
	font-weight: 400;
	font-size: 2.4em;
	color: $color__dark-blue;
}

h3,
.site-content .elementor-widget-heading h3.elementor-heading-title,
.site-content .elementor-widget-image-box .elementor-image-box-content h3.elementor-image-box-title {
	font-family: $font__light;
	font-weight: 300;
	font-size: 1.75em;
	color: $color__dark-gray;
}

h4,
.site-content .elementor-widget-heading h4.elementor-heading-title {
	font-family: $font__light;
	font-weight: 300;
	font-size: 1.5em;
	color: $color__dark-gray;
}

h5,
.site-content .elementor-widget-heading h5.elementor-heading-title {
	font-family: $font__light;
	font-weight: 300;
	font-size: 1.35em;
	color: $color__gray;
}

h6,
.site-content .elementor-widget-heading .elementor-heading-title h6 {
	font-family: $font__light;
	font-weight: 300;
	font-size: 1em;
	color: $color__gray;
}

.elementor-widget-colored-heading .elementor-heading-title {
	padding: 30px;
	color: #fff;
}

.elementor-widget-colored-heading .elementor-widget-container {
	background-color: $color__blue;
}

.page-privacy-terms h5 {
	color: $color__dark-blue
}
