.elementor-widget-custom-icon-circle .elementor-icon-box-wrapper,
.custom-image-circle .elementor-image-box-wrapper {
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  box-shadow: $box-shadow__large-box;
  background-color: $color__blue;
  color: #fff;
  text-align: center;
}

.custom-image-circle__white .elementor-image-box-wrapper {
  background-color: #fff;
}

.elementor-widget-custom-icon-circle .elementor-icon-box-icon {
  margin-top: -25%;
}

.elementor .custom-image-circle {
  margin: 30px;
}

.elementor .custom-image-circle.elementor-widget:not(.elementor-widget-text-editor) figure.elementor-image-box-img {
  display: block;
  margin-top: -25%;
}

.elementor .custom-image-circle figure.elementor-image-box-img {
  height: 40px;
}

.elementor .custom-image-circle figure.elementor-image-box-img img {
  max-height: 40px !important;
}

.elementor-widget-custom-icon-circle .elementor-icon-box-icon .elementor-icon {
  color: #fff;
}

.elementor-widget-custom-icon-circle .elementor-icon-box-wrapper .elementor-icon-box-title,
.custom-image-circle .elementor-image-box-title {
  margin-top: 15px;
}

.elementor-widget-custom-icon-circle .elementor-icon-box-wrapper .elementor-icon-box-title {
  color: #fff;
}
