.elementor-image-box-wrapper {
	border-radius: 8px;
	padding: 30px;
	box-shadow: $box-shadow__large-box;
}

.site-content .elementor-widget-image-box .elementor-image-box-content .elementor-image-box-description {
	color: $color__dark-gray;
}
