.elementor-image-box-wrapper {
	border-radius: 8px;
	padding: 30px;
	box-shadow: $box-shadow__large-box;

	.elementor-image-box-img {
		// override random percentage widths set by elementor for some unknown reason
		width: auto !important;
	}
}

.page .elementor-widget-image-box .elementor-image-box-content .elementor-image-box-description {
	color: $color__dark-gray;
}
