// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Light blue angled background
@mixin blue-angled-background($top: -19em, $height: 500px, $left: -50%) {
	content: "";
	display: block;
	position: absolute;
	top: $top;
	left: $left;
	height: $height;
	width: 2000px;
	background: $color__light-blue;
	z-index: -10;
  transform: rotate(-12deg);
}

.blue-angled-background:after {
	@include blue-angled-background(0, 520px);
}

@mixin blue-background() {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: -50%;
	height: 5000px;
	width: 2000px;
	background: $color__light-blue;
	z-index: -10;
}
