$color__dark-blue: #00476e;
$color__blue: #006aff;
$color__light-blue: #effcff;
$color__dark-gray: #696969;
$color__very-light-gray: #f7f8fa;
$color__gray: #81868e;
$color__green: #69db9c;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__blue;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $color__dark-gray;
$color__text-light: #fff;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__dark-blue;
$color__link-visited: purple;
$color__link-hover: $color__blue;
$color__text-main: $color__dark-gray;

$color__border-input: #ccc;
$color__border-abbr: #666;

$color__button-background: $color__blue;
$color__button-text: #fff;
$color__button-border: #ccc #ccc #bbb;
$color__button-border-hover: #ccc #bbb #aaa;
$color__button-border-focus: #aaa #bbb #bbb;
