@font-face {
  font-family: Ubuntu;
  src: url('fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: UbuntuBold;
  src: url('fonts/Ubuntu-Bold.ttf');
}
@font-face {
  font-family: UbuntuLight;
  src: url('fonts/Ubuntu-Light.ttf');
}

$font__main: UbuntuLight, sans-serif;
$font__bold: Ubuntu, sans-serif;
$font__light: UbuntuLight, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__size-body: calc(14px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
$font__line-height-body: calc(1.4em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
$font__line-height-pre: calc(1.4em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
