button,
a.elementor-button,
.site-content .elementor-button.elementor-size-md,
.main-navigation ul#primary-menu > li:last-child,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-color: $color__button-border;
	border-radius: 100px;
	background: $color__button-background;
	color: $color__button-text;
	line-height: 2.25;
	padding: .4em 3em;

	&:visited {
		color: $color__button-text;
	}

	&:hover {
		border-color: $color__button-border-hover;
	}

	&:active,
	&:focus {
		border-color: $color__button-border-focus;
	}
}

.site-content .elementor-button.elementor-size-lg {
	@include font-size(1.25);
	padding: .5em 3em;
	border-radius: 100px;
}

.site-content .elementor-button.elementor-size-sm {
	@include font-size(0.85);
	line-height: 1.75;
	padding: .5em 2.5em;
	border-radius: 100px;
}

.site-content .elementor-button.elementor-size-xs {
	@include font-size(0.85);
	line-height: 1.5;
	padding: .4em 2.5em;
	border-radius: 100px;
}

.main-navigation ul#primary-menu > li:last-child {
	margin-left: 50px;
	line-height: 2;
	padding: 0;
	border-radius: 100px;

	a {
		color: $color__button-text;
		padding: .5em 2.5em;


		&:visited {
			color: $color__button-text;
		}
	}
}
