.main-navigation {
	clear: both;
	display: inline-block;
	float: right;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: $box-shadow__menu-items;
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				margin-left: 1.5em;
				padding: 5px 0;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 250px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			background: #fff;
			border-radius: 8px;
		}
	}

	li {
		float: left;
		position: relative;
		margin-left: 1.5em;

		a {
			padding: 12px 5px 12px;
		}

		a,
		a:visited {
			color: $color__dark-blue;
		}

		&:hover > a,
		&.focus > a {
		}

		&.menu-item-has-children:after {
			content: "\02C7";
			position: absolute;
			top: 40%;
			right: -5px;
		}
	}

	> button.menu-toggle {
		width: 50px;
		height: 50px;
		float: right;
		background-color: transparent;
		background-image: url(inc/mobile-menu-icon.png);
		background-repeat: no-repeat;
		background-size: 35px 20px;
		background-position: center;
		text-indent: -9999px;
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

@media screen and (max-width: 62em) {
	.site-branding .custom-logo-link img {
		max-width: 80%;
	}

	.main-navigation .menu-main-navigation-container ul li {
		margin-left: 1em;

		&.menu-item-has-children:after {
			right: -5px;
		}
	}

	.main-navigation .menu-main-navigation-container > ul > li:last-child {
		margin-left: 1.2em;

		a {
			padding: .5em 1.5em;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 53em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

@media screen and (max-width: 53em) {
	.main-navigation {
		width: 100%;
		position: absolute;
		top: 10px;
		right: 0;

		 ul.nav-menu {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.25s ease-out;
			display: block;
		}
	}

	.main-navigation.toggled {
		z-index: 20;

		.menu-us-header-navigation-container {
			background-color: $color__blue;
			border-radius: 10px;
			padding-top: 50px;

			 ul.nav-menu {
				max-height: inherit;
				overflow: auto;
				transition: max-height 0.25s ease-out;
				display: block;

				> li {
					font-weight: 400;
					@include font-size(1.3);

					&:last-child {
						margin-left: auto;
						line-height: auto;
						padding: auto;
					}
				}

				ul {
					float: none;
					position: relative;
					background: auto;
					left: auto;

					li {
						font-family: $font__light;
						@include font-size(1);
					}

					ul {
						left: auto;
					}

				}
			}
		}

		> button.menu-toggle {
			background-size: 25px 25px;
			background-image: url(inc/mobile-menu-icon-open.png);
		}

		a {
			color: #fff;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
