body > .elementor-location-header:after {
	@include blue-angled-background(-24em, 800px, -30%);
}

body.page-careers .elementor-location-header:after {
	content: none;
}

body > .elementor-location-header .elementor-nav-menu ul {
	padding: 0.5em;

	a {
		width: 270px;
	}
}

body > .elementor-location-header .elementor-sticky--active {
	background-color: #fff !important;
	box-shadow: 8px 12px 25px rgba(0, 0, 0, 0.33);

	ul.elementor-nav-menu > li {
		a.elementor-item {
			color: $color__dark-blue !important;
		}

		&:last-child {
			a.elementor-item {
				color: #fff !important;
			}
		}
	}
}


[data-elementor-device-mode="desktop"] .elementor-location-header ul.elementor-nav-menu > li:last-child {
	margin-left: 1.5em;
	line-height: 2;
	padding: 0;
	border-radius: 100px;

	a {
		border: none;
		border-color: $color__button-border;
		border-radius: 100px;
		background: $color__button-background;
		color: $color__button-text !important;
		padding: .5em 2.5em !important;
		line-height: 2.25;

		&:visited {
			color: $color__button-text;
		}

		&:hover {
			border-color: $color__button-border-hover;
			background: $color__dark-blue;
		}

		&:active,
		&:focus {
			border-color: $color__button-border-focus;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
