.site-header {
	margin-top: 30px;
	margin-bottom: 80px;
	position: relative;

	&:after {
		@include blue-angled-background(-19em, 700px);
	}
}

.page-careers {
	.site-header {
		margin-bottom: 0;
	}

	.site-header:after {
		background: none;
	  transform: rotate(0);
	}

	.main-navigation ul#primary-menu > li {
		> a,
		> a:visited,
		&.menu-item-has-children:after {
			color: #fff;
		}
	}
}


.site-branding {
	display: inline-block;
}

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
